<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">

  <Appenders>
    <File name="ExceptionsFile" fileName="logs/exceptions.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>

  <Loggers>
    <Root level="ALL">
      <AppenderRef ref="ExceptionsFile" level="ERROR"/>
    </Root>
  </Loggers>
</Configuration>