<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">

  <Appenders>
    <File name="SearchFile" fileName="logs/search.log">
      <Filters>
        <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
      </Filters>
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>

    <File name="ErrorsFile" fileName="logs/input_errors.log">
      <Filters>
        <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
      </Filters>
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>

    <File name="ExceptionsFile" fileName="logs/exceptions.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>

  <Loggers>
    <Root level="ALL">
      <AppenderRef ref="SearchFile" level="INFO"/>
      <AppenderRef ref="ErrorsFile" level="ERROR"/>
      <AppenderRef ref="ExceptionsFile" level="FATAL"/>
    </Root>
  </Loggers>
</Configuration>